{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/cover_bg_2.jpg'%});">
		<div class="desc animate-box">
			<h2>We Are <strong>Non-profit</strong></h2>
			<span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
		</div>
	</div>

</div>

<div id="fh5co-feature-product" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center heading-section">
				<h3>Objective of Charity Hub</h3>
				<p></p>
			</div>
		</div>
		<div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
				<p>
					Charity Hub, registered on January 2019, is engaged exclusively in social & educational activities with a dire stress on removal of illiteracy and helping the aged and destitute women.

					The Foremost aim of the trust is fulfillment of aspirations of the down-trodden, removal of illiteracy, to provide medial-aid to those who are not able to arrange monitory support for the treatment of various diseases. We have also undertaken voluntarily removal of illiteracy by arranging seminars in urban and more especially in Rustic areas. The Trust also endeavors to create awareness regarding terminal diseases like AIDS and Cancer by creating awareness. It manages its affairs exclusively from the funds donated by individuals, voluntary organizations & firms. All donations being given to the Charity Hub.	
				</p>
			</div>
		</div>	
	</div>
</div>

<div id="fh5co-portfolio">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
				<h3>Our Gallery</h3>
				<p>Here is our gallery. It may let you trust on Us!!!</p>
			</div>
		</div>	
		<div class="row row-bottom-padded-md" id="gallery">
			<div class="col-md-12">
				<ul id="fh5co-portfolio-list">
					{% for i in gallery %}
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/media/{{i}}); ">
					<a href="/media//{{i}}" class="color-6">
					&nbsp;
					</a>
					</li>
					{% endfor %}
				</ul>		
			</div>
		</div>
	</div>
</div>



<div id="fh5co-content-section" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Leadership</h3>
				<p>Here are all executive members of Charity Hub.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="fh5co-team text-center animate-box">
					<figure>
						<img src="{% static 'images/person_1.jpg'%}" alt="user">
					</figure>

					<div>
						<h3>Miss Jenny Jenifer</h3>
						<p><span>Own Business(Joint Secretary)</span></p>
						<p>Excecutive member of various other Non profit Organizations</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-team text-center animate-box">
					<figure>
						<img src="{% static 'images/person_2.jpg'%}" alt="user">
					</figure>
					<div>
						<h3>Miss Kiran Johal</h3>
						<p><span>Auditor (Working it Field)</span></p>
						<p>She is an very active and honest member of our society.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-team text-center animate-box">
					<figure>
						<img src="{% static 'images/person_3.jpg'%}" alt="user">
					</figure>
					<div>
						<h3>Mr. Ramesh Goyal</h3>
						<p><span>Business Man (Gen Secretary)</span></p>
						<p>
							His goyal to "seek a world of hope, tolerance and social justice"
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- fh5co-content-section -->

{% endblock %}