
<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Charity Hub</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'favicon.ico'%}">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css'%}">

	<link rel="stylesheet" href="{% static 'css/style.css'%}">


	<!-- Modernizr JS -->
	<script src="{%static 'js/modernizr-2.6.2.min.js'%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	{% block head %} {% endblock %}
	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 text-left fh5co-link">
						<a href="{% url 'index'%}">Home</a>
						<a href="{% url 'charityapp:contact'%}">Contact</a>
					</div>
					<div class="col-md-6 col-sm-6 text-right fh5co-social">
						<a href="https://www.facebook.com/" class="grow"><i class="icon-facebook2"></i></a>
						<a href="https://www.twitter.com/" class="grow"><i class="icon-twitter2"></i></a>
						<a href="https://www.instagram.com/" class="grow"><i class="icon-instagram2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="{% url 'index'%}">Charity Hub</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li>
								<a href="{% url 'index'%}">Home</a>
							</li>
							<li><a href="{% url 'charityapp:about'%}">About</a></li>
							<li>
								<a href="#" class="fh5co-sub-ddown">Scope of Work</a>
								<ul class="fh5co-sub-menu">
									{% for i in works %}
									<li><a href="{% url 'charityapp:scope'%}?id={{i.id}}">{{i.title}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li>
								<a href="{% url 'charityapp:become_volunteer'%}" class="fh5co-sub-ddown">Become a Volunteer</a>
							</li>
							<li><a href="{% url 'charityapp:contact'%}">Contact</a></li>
							<li><a href="{% url 'charityapp:donate'%}" class="btn btn-primary btn-sm">Donate Now <i class="fas fa-hand-holding-heart"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
        {% block body %}
        {% endblock %}
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="https://twitter.com/"><i class="icon-twitter2"></i></a>
								<a href="https://www.facebook.com/"><i class="icon-facebook2"></i></a>
								<a href="https://www.instagram.com/"><i class="icon-instagram"></i></a>
								<a href="https://www.youtube.com/"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2019 <a href="{% url 'index'%}">Charity Hub</a>. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{% static 'js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
	<script src="{% static 'js/sticky.js'%}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.js' %}"></script>
	
	<!-- Main JS -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

