{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109782.86712335295!2d76.62733938706496!3d30.698305207043667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee906da6f81f%3A0x512998f16ce508d8!2sSahibzada+Ajit+Singh+Nagar%2C+Punjab!5e0!3m2!1sen!2sin!4v1558347611771!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><div id="fh5co-contact" class="animate-box">
	<div class="container">
		<form method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<h3 class="section-title">Our Address</h3>
					<p>
						Charity Hub is a non-profit orgnization, you can find and contact us on the given numbers or address.
						Come anytime and donate for needy peoples!!
					</p>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
						<li><i class="icon-phone2"></i>+ 1235 2355 98</li>
						<li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name" name="name" required minlength="3" pattern="[A-Za-z\s]+" title="Only Characters and spaces allowed">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email" name="email" required>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="message" class="form-control" id="" cols="30" rows="7" placeholder="Message" required></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map"></div>
<!-- END map -->
{% if status %}
<script>
	alert('{{status}}');
</script>
{% endif %}
{% endblock %}