{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<style>
    .top-cover{
        background:url("{% static 'images/cover_bg_3.jpg'%}");
        background-attachment:fixed;background-size:100% 100%;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row p-5 top-cover">
        <div class="col-md-12 text-center text-light" style="padding:100px;background:rgba(0,0,0,0.5)">
            <h2 style="color:white">Donate Now | <span style="color:#ff5722;">Charity Hub</span></h2>
        </div>
    </div>
</div>
<div class="container" style="padding:2%;">
    <form class="my-form" action="" method="GET">
        
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full Name" id="name" required minlength="3" pattern="[A-Za-z\s]+" title="Only Characters and spaces allowed" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" id="email" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Contact Number" id="contact" min="1000000000" max="9999999999" required>                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 txt" style="display:inline-block;">
                        <input type="hidden" id='hcon' name="country">    
                        <div class="form-group">
                            <select id="country" class="form-control" onchange="getstate()">
                                <option value="">--Select country--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 txt" style="display:inline-block;">
                        <input type="hidden" id='hstate' name="state">  
                        <div class="form-group">
                            <select id="state" class="form-control" onchange="getcity()">
                                <option value="">--Select State--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 txt" style="display:inline-block;">
                        <div class="form-group">
                            <select id="city" class="form-control" name="city">
                                <option value="">--Select City--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Address Line 1 (optional)" id="address1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Address Line 2 (optional)" id="address2" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Amount in Indian Rupees" min="50" id="amount">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="remarks" class="form-control" id="remarks" cols="30" rows="4" placeholder="Remarks" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <select id="work" class="form-control">
                            <option value="None">-- To whom you want to Donate? --</option>
                            {% for i in works %}
                                <option value="{{i.title}}">{{i.title}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" id="pay" value="Pay Now" class="btn btn-primary" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/payment_image.jpg'%}" alt="">
            </div>
        </div>
    </form>
</div>
</div>
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map"></div>
<!-- END map -->

<!-- ADDRESS -->
<script>
$(function(){
        $.ajax({
            url:'http://stsmentor.com/locationapi/locationApi.php?type=getCountries',
            type:'get',
            success:function(data){
                let c='';
                data.result.forEach(element => {
                    for (i in element){
                        c+='<option value="'+i+'" name="'+element[i]+'">'+element[i]+'</option>';

                    }
                });
                $('#country').html(c);
            }

        });
    });
function getstate(){
    let cont_id= $('#country').val()
    var aa = $('#country').find(":selected").text();
    $('#hcon').val(aa);
    $.ajax({
        url:'http://stsmentor.com/locationapi/locationApi.php?type=getStates&countryId='+cont_id,
        type:'get',
        success:function(data){
            let st='';
            data.result.forEach(kv =>{
                for(k in kv){
                    st+='<option value="'+k+'" name="'+kv[k]+'">'+kv[k]+'</option>'
                }

            });
            $('#state').html(st);
        }
    });
}
function getcity(){
    let state_id=$('#state').val()
    var st = $('#state').find(":selected").text();
    $('#hstate').val(st);
    $.ajax({
        url:'http://stsmentor.com/locationapi/locationApi.php?type=getCities&stateId='+state_id,
        type:'get',
        success:function(data){
            let ct='';
            data.result.forEach(kv =>{
                for(k in kv){
                    ct+='<option value="'+kv[k]+'" name="'+kv[k]+'">'+kv[k]+'</option>'
                }
            });
            $('#city').html(ct);
        }

    });
}


</script>
<script>
     $('.my-form').submit(function(event){
          event.preventDefault();
    let name = $('#name').val();
    let email = $('#email').val();
    let contact = $('#contact').val();
    let country = $('#hcon').val();
    let state = $('#hstate').val();
    let city = $('#city').val();
    let add1 = $('#address1').val();
    let add2 = $('#address2').val();
    let amount = $('#amount').val();
    let remarks = $('#remarks').val();
    let work = $('#work').val();
    
    $.ajax({
        url: '{% url "charityapp:donate"%}',
        type: 'get',
        data: {'name':name,'email':email,'cont':contact,'coun':country,'st':state,'ct':city,'add1':add1,'add2':add2,'amt':amount,'rem':remarks,'work':work},
        success:function(data){
            let oid = parseInt(data)+Math.round(Math.random()*(9999-1000)+1000)
            url = 'http://sachtechsolution.pe.hu/easypayment/payment.php?mid=JFeXSP79054240666398&amount='+amount+'&adminemail=akd6203@gmail.com&adminmobile=9779945093&mkey=yrE%23_4HmnGqs%25PFo&orderid='+data+'o'+oid+'&returnurl=http://127.0.0.1:8000{% url "charityapp:success_payment" %}';
            window.location = url; 
        }
    });
})
</script>
{% if status %}
<script>
	alert('{{status}}');
</script>
{% endif %}
{% endblock %}