{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
.vol-icon{
	color:#ff5722;
}
</style>
{% endblock%}
{% block body %}
<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/cover_bg_1.jpg'%});">
		<div class="desc animate-box">
			<h2><strong>Donate</strong> for the <strong>Poor Children</strong></h2>
			<span><a class="btn btn-primary btn-lg" href="{% url 'charityapp:donate'%}">Donate Now</a></span>
		</div>
	</div>

</div>
<!-- end:header-top -->
<div id="fh5co-features">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-profile-male"></i>
					</span>
					<div class="feature-copy">
						<h3><a href="{% url 'charityapp:become_volunteer'%}">Become a volunteer</a></h3>
						<p>
							To inspire breakthroughs in the way the world treats children and to achieve immediate and lasting change.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-happy"></i>
					</span>
					<div class="feature-copy">
						<h3>100% HELP & SUPPORT</h3>
						<p>
							Nearly 1.73 million children die in India every year due to lack of treatment. We work with communities...
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-wallet"></i>
					</span>
					<div class="feature-copy">
						<h3><a href="{% url 'charityapp:donate'%}">Donation</a></h3>
						<p>
							You can help save a life, donate now. We rely entirely on voluntary donations from people like you to help...
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-feature-product" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center heading-section">
				<h3>Our Scope of work</h3>
				<p>We helps people at different phases of life. Some of theses are described below</p>
			</div>
		</div>

		<div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
				<p><img src="{% static 'images/cover_bg_1.jpg'%}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
			</div>
			<div class="col-md-6 text-center animate-box">
				<p><img src="{% static 'images/cover_bg_2.jpg'%}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
			</div>
			<div class="col-md-6 text-center animate-box">
				<p><img src="{% static 'images/cover_bg_3.jpg'%}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="feature-text">
					<h3>Poor Child Education</h3>
					<p>
						Every children has right to get better education as it is an important tool that enables them to make wise decisions that affects their lives as well as improves their social status.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-text">
					<h3>Health</h3>
					<p>Good health is not something we can buy. However, it can be an extremely valuable savings account.
						India still struggling to provide basic health care facilities to its citizens.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-text">
					<h3>Women Empowerment</h3>
					<p>
						"Women Empowerment" is a burning issue all over the world. It refers to increasing and improving the social, economic, political and legal strength of the women, to ensure equal-right to women.
					</p>
				</div>
			</div>
		</div>

		
	</div>
</div>


<div id="fh5co-portfolio">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
				<h3>Our Gallery</h3>
			</div>
		</div>

		
		<div class="row row-bottom-padded-md">
			<div class="col-md-12">
				<ul id="fh5co-portfolio-list">

					<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/cover_bg_1.jpg'%}); ">
						<a href="#" class="color-3">
							<div class="case-studies-summary">
								<span>Give Love</span>
								<h2>Donation is caring</h2>
							</div>
						</a>
					</li>
				
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/cover_bg_3.jpg'%}); ">
						<a href="#" class="color-4">
							<div class="case-studies-summary">
								<span>Give Love</span>
								<h2>Donation is caring</h2>
							</div>
						</a>
					</li>

					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/media/{{gallery.0}}); "> 
						<a href="#" class="color-5">
							<div class="case-studies-summary">
								<span>Give Love</span>
								<h2>Donation is caring</h2>
							</div>
						</a>
					</li>
					<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/media/{{gallery.4}}); ">
						<a href="#" class="color-6">
							<div class="case-studies-summary">
								<span>Give Love</span>
								<h2>Donation is caring</h2>
							</div>
						</a>
					</li>
				</ul>		
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center animate-box">
				<a href="{% url 'charityapp:about'%}#gallery" class="btn btn-primary btn-lg">See Gallery</a>
			</div>
		</div>

		
	</div>
</div>



<div id="fh5co-content-section" class="fh5co-section-gray">
	<div class="container" id="volunteer">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Our Volunteers</h3>
				<p>Here are our active volunteers, who help for the needy people in terms of money and support.</p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			{% for i in vol %}
			<div class="col-md-4">
				<div class="fh5co-testimonial text-center animate-box">
					<figure>
						<img src="/media/{{i.profile_pic}}" alt="user">
					</figure>
					<blockquote>
						<h5 style="color:#ff5722">{{i.name}} ({{i.age}} yrs)</h5>
						<table class="table">
							<tbody>
								<tr>
									<th><i class="fas fa-envelope-square vol-icon"></i></th>
									<th><p>{{i.email}}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-mobile-alt vol-icon"></i></th>
									<th><p>{{i.contact}}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-user-graduate vol-icon"></i></th>
									<th><p>{{i.qualification}}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-map-marker-alt vol-icon"></i></th>
									<th><p>{{i.city}},{% if i.country %}{{i.state}}({{i.country}}) {% endif %}</p></th>
								</tr>
								<tr>
									<th><i class="fas fa-clock vol-icon"></i></th>
									<th><p>{{i.on_date}}</p></th>
								</tr>
							</tbody>
						</table>
					
					</blockquote>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- fh5co-content-section -->

<div id="fh5co-services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Our Scope of work. Support Us</h3>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row text-center">
			{% for i in support %}
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>{{i.title}}</h3>
					<p>{{i.description1}}...</p><br/>
					<a href="{% url 'charityapp:scope'%}?id={{i.id}}" style="color:#ff5722;">Read More &gt;&gt;</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- END What we do -->


<!-- <div id="fh5co-blog-section" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Recent From Blog</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row row-bottom-padded-md">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="{% static 'images/cover_bg_1.jpg'%}" alt=""></a>
					<div class="blog-text">
						<div class="prod-title">
							<h3><a href=""#>Medical Mission in Southern Kenya</a></h3>
							<span class="posted_by">Sep. 15th</span>
							<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p><a href="#">Learn More...</a></p>
						</div>
					</div> 
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="{% static 'images/cover_bg_2.jpg'%}" alt=""></a>
					<div class="blog-text">
						<div class="prod-title">
							<h3><a href=""#>Medical Mission in Southern Kenya</a></h3>
							<span class="posted_by">Sep. 15th</span>
							<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p><a href="#">Learn More...</a></p>
						</div>
					</div> 
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="{% static 'images/cover_bg_3.jpg'%}" alt=""></a>
					<div class="blog-text">
						<div class="prod-title">
							<h3><a href=""#>Medical Mission in Southern Kenya</a></h3>
							<span class="posted_by">Sep. 15th</span>
							<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p><a href="#">Learn More...</a></p>
						</div>
					</div> 
				</div>
			</div>
			<div class="clearfix visible-md-block"></div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center animate-box">
				<a href="#" class="btn btn-primary btn-lg">Our Blog</a>
			</div>
		</div>

	</div>
</div> -->
<!-- fh5co-blog-section -->
{% endblock %}