{% extends "base.html"%}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock %}
{% load staticfiles%}
{% block body %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 mx-auto' style='padding:40px;'>
                <div class="card shadow shadow-lg">
                    <div class="card-header">
                        <h2 class="card-title">Payment Success</h2>
                    </div>
                    <div class="card-body">
                    <a href="{% url 'index'%}">Go Ho Homepage</a>
                   
                    <div class='row'>
                        <div class='col-md-4'>
                            <h2 style='color:green;font-size:100px;'><i class="far fa-check-circle"></i></h2>
                        </div>
                        <div class='col-md-8'>
                            <h2 style='margin-top:10%;'>Donation Success!!!</h2>
                        </div>
                        <div class='col-md-12'>
                            <p class='text-success text-center' style='color:green;'>
                                Hello {{name}} Your payment of &#8377;{{amount}} with Txn No: {{txn_id}} received successfully!!!
                            </p>
                            <p>Thanks for Donate, your contribution may save someone's life!!!</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}